{{>partials/header}}

<h2> Digite seu E-mail e Senha </h2>

<form method="POST" action="login-resultado">
    <input type="text" name="email" placeholder="Digite o seu E-mail">
    <br><br>
    <input type="text" name="senha" placeholder="Digite sua Senha">
    <br><br>

    <input type="submit" value="Next"/>

</form>

{{>partials/footer}}